In [1]:
#Import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Load in the data
messages_df = pd.read_csv('../data/messages.csv')
categories_df = pd.read_csv('../data/categories.csv')

In [3]:
#Double check it loaded in just fine
print(messages_df.head())
print(categories_df.head())

   id                                            message  \
0   2  Weather update - a cold front from Cuba that c...
1   7            Is the Hurricane over or is it not over
2   8                    Looking for someone but no name
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...
4  12  says: west side of Haiti, rest of the country ...

                                            original   genre
0  Un front froid se retrouve sur Cuba ce matin. ...  direct
1                 Cyclone nan fini osinon li pa fini  direct
2  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  facade ouest d Haiti et le reste du pays aujou...  direct
   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [4]:
#Find out some more information
print(messages_df.shape)
print(categories_df.shape)

(26248, 4)
(26248, 2)

In [5]:
#Merge the two datasets
df = pd.merge(messages_df, categories_df, on="id")
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [6]:
#Create a new column for all the items in categories and extract the values from them
#First to split them into all the columns
categories = df.categories.str.split(';',expand=True)
#Get column names from the first row
row = categories.iloc[0]
category_colnames = [x[:-2] for x in row]
#Rename categories columns with the list we jsut created
categories.columns = category_colnames
#Extract the values 
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].astype(str).str[-1:]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#Next, drop the old categories column
df = df.drop('categories', axis = 1)
#Then merge df with the categories df
df = pd.concat([df, categories], axis=1)

In [8]:
dup_check = df.duplicated()
dup_check.value_counts()

False    26216
True       170
dtype: int64

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
dup_check_post = df.duplicated()
dup_check_post.value_counts()

False    26216
dtype: int64

In [11]:
engine = create_engine('sqlite:///DisaterResponse.db')
df.to_sql('DisaterData', engine, index=False)

In [ ]:
df.head()

In [ ]:
df.columns