In [1]:
#Import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Load in the data
messages_df = pd.read_csv('../data/messages.csv')
categories_df = pd.read_csv('../data/categories.csv')

In [3]:
#Double check it loaded in just fine
print(messages_df.head())
print(categories_df.head())

   id                                            message  \
0   2  Weather update - a cold front from Cuba that c...
1   7            Is the Hurricane over or is it not over
2   8                    Looking for someone but no name
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...
4  12  says: west side of Haiti, rest of the country ...

                                            original   genre
0  Un front froid se retrouve sur Cuba ce matin. ...  direct
1                 Cyclone nan fini osinon li pa fini  direct
2  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  facade ouest d Haiti et le reste du pays aujou...  direct
   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [4]:
#Find out some more information
print(messages_df.shape)
print(categories_df.shape)

(26248, 4)
(26248, 2)

In [5]:
#Merge the two datasets
df = pd.merge(messages_df, categories_df, on="id")
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [9]:
#Create a new column for all the items in categories and extract the values from them
#First to split them into all the columns
categories = df.categories.str.split(';',expand=True)
#Get column names from the first row
row = categories.iloc[0]
category_colnames = [x[:-2] for x in row]
#Rename categories columns with the list we jsut created
categories.columns = category_colnames
#Extract the values 
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].astype(str).str[-1:]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
#Change all the 2's to 1's
categories = categories.replace([2],1)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
for column in categories:
    print(column)
    print(categories[column].value_counts())

related
1    20042
0     6140
2      204
Name: related, dtype: int64
request
0    21873
1     4513
Name: request, dtype: int64
offer
0    26265
1      121
Name: offer, dtype: int64
aid_related
0    15432
1    10954
Name: aid_related, dtype: int64
medical_help
0    24287
1     2099
Name: medical_help, dtype: int64
medical_products
0    25067
1     1319
Name: medical_products, dtype: int64
search_and_rescue
0    25661
1      725
Name: search_and_rescue, dtype: int64
security
0    25915
1      471
Name: security, dtype: int64
military
0    25523
1      863
Name: military, dtype: int64
child_alone
0    26386
Name: child_alone, dtype: int64
water
0    24702
1     1684
Name: water, dtype: int64
food
0    23430
1     2956
Name: food, dtype: int64
shelter
0    24044
1     2342
Name: shelter, dtype: int64
clothing
0    25976
1      410
Name: clothing, dtype: int64
money
0    25780
1      606
Name: money, dtype: int64
missing_people
0    26085
1      301
Name: missing_people, dtype: int64
refugees
0    25506
1      880
Name: refugees, dtype: int64
death
0    25182
1     1204
Name: death, dtype: int64
other_aid
0    22922
1     3464
Name: other_aid, dtype: int64
infrastructure_related
0    24677
1     1709
Name: infrastructure_related, dtype: int64
transport
0    25174
1     1212
Name: transport, dtype: int64
buildings
0    25041
1     1345
Name: buildings, dtype: int64
electricity
0    25848
1      538
Name: electricity, dtype: int64
tools
0    26227
1      159
Name: tools, dtype: int64
hospitals
0    26103
1      283
Name: hospitals, dtype: int64
shops
0    26266
1      120
Name: shops, dtype: int64
aid_centers
0    26077
1      309
Name: aid_centers, dtype: int64
other_infrastructure
0    25231
1     1155
Name: other_infrastructure, dtype: int64
weather_related
0    19043
1     7343
Name: weather_related, dtype: int64
floods
0    24209
1     2177
Name: floods, dtype: int64
storm
0    23922
1     2464
Name: storm, dtype: int64
fire
0    26104
1      282
Name: fire, dtype: int64
earthquake
0    23925
1     2461
Name: earthquake, dtype: int64
cold
0    25853
1      533
Name: cold, dtype: int64
other_weather
0    25007
1     1379
Name: other_weather, dtype: int64
direct_report
0    21273
1     5113
Name: direct_report, dtype: int64

In [10]:
for column in categories:
    print(column)
    print(categories[column].value_counts())

related
1    20246
0     6140
Name: related, dtype: int64
request
0    21873
1     4513
Name: request, dtype: int64
offer
0    26265
1      121
Name: offer, dtype: int64
aid_related
0    15432
1    10954
Name: aid_related, dtype: int64
medical_help
0    24287
1     2099
Name: medical_help, dtype: int64
medical_products
0    25067
1     1319
Name: medical_products, dtype: int64
search_and_rescue
0    25661
1      725
Name: search_and_rescue, dtype: int64
security
0    25915
1      471
Name: security, dtype: int64
military
0    25523
1      863
Name: military, dtype: int64
child_alone
0    26386
Name: child_alone, dtype: int64
water
0    24702
1     1684
Name: water, dtype: int64
food
0    23430
1     2956
Name: food, dtype: int64
shelter
0    24044
1     2342
Name: shelter, dtype: int64
clothing
0    25976
1      410
Name: clothing, dtype: int64
money
0    25780
1      606
Name: money, dtype: int64
missing_people
0    26085
1      301
Name: missing_people, dtype: int64
refugees
0    25506
1      880
Name: refugees, dtype: int64
death
0    25182
1     1204
Name: death, dtype: int64
other_aid
0    22922
1     3464
Name: other_aid, dtype: int64
infrastructure_related
0    24677
1     1709
Name: infrastructure_related, dtype: int64
transport
0    25174
1     1212
Name: transport, dtype: int64
buildings
0    25041
1     1345
Name: buildings, dtype: int64
electricity
0    25848
1      538
Name: electricity, dtype: int64
tools
0    26227
1      159
Name: tools, dtype: int64
hospitals
0    26103
1      283
Name: hospitals, dtype: int64
shops
0    26266
1      120
Name: shops, dtype: int64
aid_centers
0    26077
1      309
Name: aid_centers, dtype: int64
other_infrastructure
0    25231
1     1155
Name: other_infrastructure, dtype: int64
weather_related
0    19043
1     7343
Name: weather_related, dtype: int64
floods
0    24209
1     2177
Name: floods, dtype: int64
storm
0    23922
1     2464
Name: storm, dtype: int64
fire
0    26104
1      282
Name: fire, dtype: int64
earthquake
0    23925
1     2461
Name: earthquake, dtype: int64
cold
0    25853
1      533
Name: cold, dtype: int64
other_weather
0    25007
1     1379
Name: other_weather, dtype: int64
direct_report
0    21273
1     5113
Name: direct_report, dtype: int64

In [7]:
#Next, drop the old categories column
df = df.drop('categories', axis = 1)
#Then merge df with the categories df
df = pd.concat([df, categories], axis=1)

In [8]:
dup_check = df.duplicated()
dup_check.value_counts()

False    26216
True       170
dtype: int64

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
dup_check_post = df.duplicated()
dup_check_post.value_counts()

False    26216
dtype: int64

In [11]:
engine = create_engine('sqlite:///DisaterResponse.db')
df.to_sql('DisaterData', engine, index=False)

In [ ]:
df.head()

In [ ]:
df.columns